.add {
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3rem;
  width: 55rem;
  height: 2rem;
  box-shadow: 0 0 8px rgba(0.1, 0.1, 0.1, 0.1);
}
.add:hover {
  transform: scale(1.06);
  cursor: pointer;
}
.parentadd {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  justify-content: center;
  align-items: center;
}
body {
  background-color: black !important; /* Ensure that this style takes precedence */
}
.nothing {
  margin: 2rem auto; /* Vertical margin of 2rem and horizontal margin auto */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 1rem;
  width: 55rem;
  height: 30rem;
  color: black;
  text-align: center; /* Justify the text */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
