/* Common styles for both .add and .nothing */
.add,
.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* Set a relative width */
  max-width: 55rem; /* Limit maximum width */
  margin: 0.7rem auto; /* Center horizontally with a small margin */
}

.add {
  height: 2rem;
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0 0 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.parentadd {
  display: flex;
  flex-direction: column;
}

.nothing {
  height: 30rem;
  background-color: lightgray;
  border-radius: 1rem;
  color: black;
  text-align: center;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .add,
  .nothing {
    width: 95%; /* Adjust width for smaller screens */
    max-width: none; /* Remove maximum width */
    margin: 0.5rem auto; /* Adjust margin for smaller screens */
  }
}

.add:hover {
  transform: scale(1.06);
  cursor: pointer;
}
body {
  background-color: black !important; /* Ensure that this style takes precedence */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
